.root {
     width: 300px;
     flex: 1;
     min-width: 300px;
     border: 2px solid #fff;
     border-radius: 8px;
     padding: 16px 8px;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.wrapper {
     border: 1px solid red;
     height: 150px;
}

.temperature {
     background-color: #dc3545;
     padding: 4px;
     width: 100%;
     text-align: center;
     border-radius: 4px;
     margin-top: 4px;
     color: #fff;
}

.tempText {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 4px;
     padding: 8px;
}
.tempText > span {
     text-transform: uppercase;
}
